<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stazo.project_18">

    <!-- for FB login -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Give the map_overview access to the user's location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".Project_18"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".CreateEventAct"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity android:name=".CreateEventAct" /-->

        <activity
            android:name=".MapAct"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
            activity
            android:name=".EventInfoAct"
            android:label="@string/title_activity_event_info"
            android:theme="@style/AppTheme.NoActionBar" /
        -->
        <activity
            android:name=".LoginAct"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventInfoAct" />
        <!-- for FB Login -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".LocSelectAct" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsxIIBP6pSzAtlcB_lY-juUCBHLu9WP-E" />
        <!-- for FB login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--
        <activity
            android:name=".ListAct"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".InitialAct"></activity>
        -->
    </application>

</manifest>
